In [1]:
import pandas as pd

In [ ]:
# !pip install pandas

In [8]:
s = pd.Series([1116, 12259, 65119, 16699], index=['서울','부산','인천','대구'])
s

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [9]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [11]:
s.values

array([ 1116, 12259, 65119, 16699], dtype=int64)

In [14]:
s.name = '농작물 생산량(톤)'

In [16]:
s.index.name = '지역구'

In [17]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [19]:
s1 = s/1000

In [20]:
s1.name = '농작물 생산량(k톤)'

In [21]:
s1

지역구
서울     1.116
부산    12.259
인천    65.119
대구    16.699
Name: 농작물 생산량(k톤), dtype: float64

In [24]:
(s/4456952*100).round(2)

지역구
서울    0.03
부산    0.28
인천    1.46
대구    0.37
Name: 농작물 생산량(톤), dtype: float64

In [25]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [27]:
s[0], s['서울']

(1116, 1116)

In [28]:
s[[0,1]]

지역구
서울     1116
부산    12259
Name: 농작물 생산량(톤), dtype: int64

In [29]:
s[[1,0]]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [30]:
s[['부산','서울']]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [37]:
s[(s>10000) & (s<20000)]

지역구
부산    12259
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [38]:
s[(s/4456952*100) > 0.5]

지역구
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [40]:
s[1:3]

지역구
부산    12259
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [41]:
s['서울':'대구']

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [54]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [55]:
s.서울

1116

In [65]:
d1 = {'서울':1, '부산':2}
pd.Series(d1)

서울    1
부산    2
dtype: int64

In [58]:
for k,v in s.items():
    print(k,v)

서울 1116
부산 12259
인천 65119
대구 16699

In [64]:
print('제주도' in s)
'서울' in s.keys()

False

True

In [66]:
s21 = pd.Series([1116, 12259, 65119, 16699], index=['서울','부산','인천','대구'])
s21

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [90]:
s20 = pd.Series([628,11075,56013,15695], index=['서울','부산','인천','대구'])

In [74]:
s_sub = s21 - s20

In [72]:
import numpy as np
type(np.nan)

float

In [76]:
s_sub.astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [83]:
s_sub = s21.sub(s20, fill_value=0)

In [85]:
s_sub2 = s21.sub(s20)

In [89]:
s_sub2.notnull()

대구      True
부산      True
서울     False
인천      True
제주도    False
dtype: bool

In [91]:
s21

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [92]:
s20

서울      628
부산    11075
인천    56013
대구    15695
dtype: int64

In [95]:
rs = ((s21 - s20) / s20 * 100).round(2)

In [97]:
rs['서울']

77.71

In [98]:
rs['서울'] = 0

In [100]:
rs[0] = 123

In [101]:
rs

서울    123.00
부산     10.69
인천     16.26
대구      6.40
dtype: float64

In [102]:
del rs['대구']

In [105]:
del rs['서울']

In [106]:
rs

부산    10.69
인천    16.26
dtype: float64

In [107]:
rs['서울'] = 77.71

In [108]:
rs

부산    10.69
인천    16.26
서울    77.71
dtype: float64

In [109]:
rs['대구'] = 6.40

In [110]:
rs

부산    10.69
인천    16.26
서울    77.71
대구     6.40
dtype: float64

In [111]:
import random

In [158]:
key100 = random.sample(list(range(120)), 100)
# pd.Series() # 크기가 100
# 키값 100 밸류값 100
key80 = random.sample(list(range(120)), 80)
value100 = random.sample(list(range(120)), 100)
value80 = random.sample(list(range(120)), 80)
s100 = pd.Series(value100, index=key100)
s80 = pd.Series(value80, index=key80)

In [153]:
s_100_80_mul = s100.sub(s80)

In [132]:
s_100_80_sub[122]

234.0

In [133]:
s100[122]

914

In [134]:
s80[122]

680

In [157]:
range(120)

range