
### [mariasql info]  
- host = "219.251.99.114"   
- user = "bbongs"   
- pw = "Qweasd123$"   
- db = "team"   
- port = 3306

In [106]:
import pandas as pd
import pymysql
import scipy.io
import csv
from mysql.connector import (connection)

In [107]:
# ## sql 모음
sql_0 = "DROP DATABASE drone_project;"
sql_1 = "CREATE DATABASE drone_project;"
# test파일로 수정함
sql_2 ='''
    CREATE TABLE `customer` (
	`id` INT(11) NULL DEFAULT NULL,
	`name` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8_general_ci',
	`email_address` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8_general_ci'
)
COLLATE='utf8_general_ci'
ENGINE=InnoDB
;
    '''
sql_3 ='''
CREATE TABLE `webcam` (
	`id` INT(10) UNSIGNED NOT NULL,
	`label` VARCHAR(50) NOT NULL COLLATE 'utf8_general_ci',
	`num` INT(11) UNSIGNED ZEROFILL NOT NULL,
	`time` DATETIME NOT NULL,
	`latitude` VARCHAR(50) NOT NULL COLLATE 'utf8_general_ci',
	`longitude` VARCHAR(50) NOT NULL COLLATE 'utf8_general_ci'
)
COLLATE='utf8_general_ci'
ENGINE=InnoDB
;
'''

sql_4 = '''
CREATE TABLE `daily_price` (
	`code` VARCHAR(20) NOT NULL COLLATE 'utf8_general_ci',
	`date` DATE NOT NULL,
	`open` BIGINT(20) NULL DEFAULT NULL,
	`high` BIGINT(20) NULL DEFAULT NULL,
	`low` BIGINT(20) NULL DEFAULT NULL,
	`close` BIGINT(20) NULL DEFAULT NULL,
	`diff` BIGINT(20) NULL DEFAULT NULL,
	`volume` BIGINT(20) NULL DEFAULT NULL,
	PRIMARY KEY (`code`, `date`) USING BTREE
)
COLLATE='utf8_general_ci'
ENGINE=InnoDB
;
'''

In [1]:
# 기본 setting
conn = pymysql.connect(
    user='bbongs',
    passwd='Qweasd123$',
    host='219.251.99.114',
    db='team',
    charset='utf8'
)

cursor = conn.cursor(pymysql.cursors.DictCursor)

NameError: name 'pymysql' is not defined

In [76]:
# # 0. Databse 삭제 (있으면 삭제)
# try:
#     cursor.execute(sql_0)
# except Exception as e:
#     print(e)

# # 1. Database 생성
# cursor.execute(sql_1)
# cursor.close()

In [77]:
# # 2. Table 생성
# conn = connection.MySQLConnection(
#     # user     = "root",
#     # password = "admin",
#     # host     = "192.168.208.1",
#     # database = "drone_project"
#     user     = "bbongs",
#     password = "Qweasd123$",
#     host     = "219.251.99.114",
#     database = "drone_project"
# )
# cur = conn.cursor()
# cur.execute(sql_2)
# cur.execute(sql_3)
# conn.close()

In [78]:
# 3. data 추가 
insert_data2 = [{'id': 0, 'name': 'zero', 'email_address': 'test0@naver.com'},
                {'id': 1, 'name': 'one', 'email_address': 'test1@naver.com'},
                {'id': 2, 'name': 'two', 'email_address': 'test2@naver.com'}]
insert_sql2 = "INSERT INTO `customer` VALUES (%(id)s, %(name)s, %(email_address)s);"
cursor.executemany(insert_sql2, insert_data2)
conn.commit()

In [85]:
# 4. table 읽어오기
sql = "SELECT * FROM customer" 
with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        result = cur.fetchall()
        for data in result:
            print(data)
# (2) ------------------------------------------
# select_sql = "select * from customer"
# cursor.execute(select_sql)
# result = cursor.fetchall()
# print(result)

(0, 'zero', 'test0@naver.com')
(1, 'one', 'test1@naver.com')
(2, 'two', 'test2@naver.com')
(0, 'zero', 'test0@naver.com')
(1, 'one', 'test1@naver.com')
(2, 'two', 'test2@naver.com')
(0, 'zero', 'test0@naver.com')
(1, 'one', 'test1@naver.com')
(2, 'two', 'test2@naver.com')

In [137]:
# 5. 데이터 csv, txt 파일 업로드
# CSV 파일 경로...
f = open('C:/Users/yuyeon/Documents/GitHub/yolov5-team2/yolov5-team2/yolov5-master/code/test.csv', 'r')
csvReader = csv.reader(f)

# 컬럼 매핑
for row in csvReader:
    id = (row[0])
    label = (row[1])
    num = (row[2])
    time = (row[3])
    latitude = (row[4])
    longitude = (row[5])
    print(id)
    print(label)
    print(num)
    print(time)
    print(latitude)
    print(longitude)
    # sql = "INSERT INTO `webcam` VALUES (%(id)s, %(label)s, %(num)s, %(time)s, %(latitude)s, %(longitude)s);"
    sql = "INSERT INTO 'webcam' (id, label, num, time, latitude, longitude) VALUES (%s, %s, %s, %s, %s, %s)"
    cursor.execute(sql, (id, label, num, time, latitude, longitude))

# DB의 변화 저장
conn.commit()
f.close()
conn.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ''webcam' (id, label, num, time, latitude, longitude) VALUES ('\ufeffid', 'label'...' at line 1")